:root {
    --vermelho: #e50914;
    --preto: #141411;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background: var(--preto);
    font-family: "Arial", Times, serif;
    color: white;
  }
  