:root {
  --vermelho: #e50914;
  --preto: #141411;
}
/*BASE*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--preto);
  font-family: "Arial", Times, serif;
  color: white;
}

header .container {
  display: flex;
  align-items: center;
  align-content: flex-start;
  justify-content: space-between;
}

header .Logo {
  color: var(--vermelho);
  font-family: "Arial Black";
  font-size: 2.5rem;
  margin-left: 5px;
}

header nav a {
  text-decoration: none;
  color: #aaa;
  margin-right: 30px;
}

header nav a:hover {
  color: #fff;
}

/*MAIN*/

.principal {
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url(../img/star-wars-banner.jpg);
  background-size: cover;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-position: center;
}

.principal > .container {
  margin-left: 5vw;
  width: 70%;
}

.principal .descricao {
  margin-top: 10px;
  margin-bottom: 90px;
}

.principal .titulo {
  margin-top: 15%;
  font-size: 40px;
  font-family: "Trebuchet MS", Arial, sans-serif;
}

.butao {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease all;
}

.butao + .butao {
  margin-left: 15px;
}

.butao:hover {
  background-color: white;
  color: black;
}

.butao i {
  margin-right: 5px;
}

.box-filme {
  height: 100%;
  width: 100%;
  display: block;
}

.carrossel-filmes{
  margin-top: 5px;
}
