header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2%;
  position: relative;
}

header .Logo {
  color: var(--vermelho);
  font-family: "Arial Black";
  font-size: 2.4rem;
}

header .menu-desktop a,
header .menu-mobile a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: #fff;
}

.menu-desktop ul li:first-child a, .menu-mobile ul li:first-child a{
  color: red;
  font-weight: bold;
}

.menu-desktop ul {
  list-style: none;
  display: flex;
}

header .menu-desktop a:hover,
header .menu-mobile a:hover {
  background-color: rgb(70, 70, 70);
}

.menu-mobile {
  display: none;
  width: 100%;
}

.menu-mobile ul {
  list-style: none;
  display: none;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
